.modal{
    height:200px;
    width:200px;
    position:absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    border:1px solid black;
}
.display-block{
    display:block;
}
.display-none{
    display:none;
}