/* this is the signup */
/* Import Pretty Checkboxes*/
@import "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css";
/* Import Varela Round from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/*Variables defined*/
.container{
    background: transparent;
}
:root {
    --main-color: coral;
    --text-color: #444;
    --formcolor: white;
    --button-color: hsl(356, 90%, 64%);
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { /* html is full screen. */
    height: 100%;
}

.header {
    margin: 0;
    padding: 5px;
    text-align: center;
    color: hsl(135, 35%, 42%);
    font-size: 2em;
    font-family: 'Sancreek';
    margin-bottom: 0;
        /* for chrome and safari*/
        -webkit-animation-duration: 1s;
        -webkit-animation-name: slidein;

        /*for firefox*/
        -moz-animation-duration: 1s;
        -moz-animation-name: slidein;

        /* for opera*/
        -o-animation-duration: 1s;
        -o-animation-name: slidein;

        /* Standard syntax*/
        animation-duration: 1s;
        animation-name: slidein;
    }

    @-webkit-keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-right: 0%;
            width: 100%;
        }
    }

    @-moz-keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-right: 0%;
            width: 100%;
        }
    }
    @-o-keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-right: 0%;
            width: 100%;
        }
    }
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-right: 0%;
            width: 100%;
        }
    
}

.signup-page{
    background-image: url('../../assets/Images/signup-background.png');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: auto;
    min-height: 100%;
    min-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.secondary-head {
    display: block;
    text-align: center;
    color: #0000ff;
    
}

.secondary-head :hover{
    color: rgb(4, 253, 78);
}

.h1-text{
    margin-top: 0;
}
.text-1{
    text-align: center;
    color:rgb(5, 104, 134);
}



.signup-form {
    display: block;
    border: none;
    padding: 3vh 10vw;
    background: var(--formcolor);
    text-align: center;
    background: transparent;
}
.signUp-header{

    margin: 0;
    margin-top: 40px;
    text-align: center;
    color: hsl(135, 35%, 42%);
    font-size: 2em;
    font-family: 'Sancreek';
        /* for chrome and safari*/
        -webkit-animation-duration: 1s;
        -webkit-animation-name: slidein;

        /*for firefox*/
        -moz-animation-duration: 1s;
        -moz-animation-name: slidein;

        /* for opera*/
        -o-animation-duration: 1s;
        -o-animation-name: slidein;

        /* Standard syntax*/
        animation-duration: 1s;
        animation-name: slidein;
    }

    @-webkit-keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-right: 0%;
            width: 100%;
        }
    }

    @-moz-keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-right: 0%;
            width: 100%;
        }
    }
    @-o-keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-right: 0%;
            width: 100%;
        }
    }
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-right: 0%;
            width: 100%;
        }
    
}
.signup-labels {
    text-align: left;
    color: #469158;
}

.signup-h2 {
    padding: 10px 0px;
    border-bottom: 4px solid;
    font-size: 1rem;
    margin-bottom: 15px;
    width: 20%;
    margin-left: 40%;
}

.signup-field {
    padding: 10px;
    text-align: left;
}

fieldset {
    display: inline;
    text-align: left;
    padding: 10px;
}

input[type="submit"] {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.2rem;
    padding: 0.8rem 1.2rem;
    border: 2px outset var(--button-color);
    border-radius: 10px;
    cursor: pointer;
    color: var(--text-color);
    background-color: transparent;
    transition: all 0.2s ease-out;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--button-color, black);
    color: var(--formcolor);
    transition-duration: 0.4s;
}

.input-field {
    border: 0;
    border-radius: 5px;
    height: 40px;
    padding: 0.8rem 1.2rem;
    margin: 0.3rem 0;
    background-color: #f0f0f0;
}
.gender {
    font-size: 1.1em;
}

label {
    display: block;
}
.fieldset-signup {
    display: block;
}
.signup-button {
    display: block;
    margin-left: 0;
    width: 50%;
}