/* login page */
/* Import Pretty Checkboxes*/
@import "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css";
/* Import Varela Round from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/*Variables defined*/

html { /* html is full screen. */
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.root-style{
    height: 100%;
}

.card-body{
    background: transparent;
    border: none;
    margin-bottom: 30px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: normal;
}
.login-h1 {
    font-family: 'Sancreek';
    font-size: 80px;
    color: #665d41;
    text-align: center;
    width: auto;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    padding: 10px;
    margin: 0;
    float: center;
    }
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #affa98, 0 0 40px #affa98, 0 0 50px #affa98, 0 0 60px #affa98, 0 0 70px #affa98;
    }
      
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fcf807, 0 0 40px #fcf807, 0 0 50px #fcf807, 0 0 60px #fcf807, 0 0 70px #fcf807, 0 0 80px #fcf807;
    }
    }
    

.secondary-head {
    display: block;
    text-align: center;
    color: red;
    
}

.login-button {
    background: #2A9AF2;
    border: white;
}
.text-register{
    color: white;
    text-align: center;
}
.text-account{
    color: #fcf807;
    text-align: center;
}

label {
    color: yellow;
    font-weight: bold;
    
}

#contact-icons :hover{
    color: rgb(108, 247, 149);
}
.login-page{
    background-image: url('http://ec.europa.eu/programmes/horizon2020/en/system/files/newsroom/fotolia_66603841_seeds_green_9538.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: auto;
    min-height: 100%;
    min-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    
.login-form{
    width: 50%;
    max-height: 70%;
    background: transparent;
    box-shadow:  rgb(252, 26, 120);
    padding: 40px;
    margin-left: 25%;
    }
    
    form h4{
    font-size: 32px;
    color: #333333;
    font-family: Roboto, arial, sans-serif;
    display: block;
    text-align: center;
    margin-top: 20px;
    }
    
    .floating-input{

    padding: 10px;
    display: block;
    width: 300px;
    margin: 30px auto;

    }
    
    .floating-input label{
    position: absolute;
    font-family: Roboto, arial, sans-serif;
    color: rgb(240, 240, 12);
    font-size: 18px;
    margin-top: -30px;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);;
    cursor: text;
    margin-left: 0;
    display: block;
    }
    
    .floating-input input{
    border: none;
    border-bottom: 1px solid #757575;
    outline: none;
    width: 300px;
    padding: 5px 0;
    font-size: 18px;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    }
    
    .floating-input input:valid + label{
    margin-top: 2.5%;
    font-size: 12px;
    color: #555555;
    }
    
    .floating-input input:focus{
    border-bottom: 1px solid #2A9AF2;
    box-shadow: 0px 1px 0px 0px #2A9AF2;
    }
    
    .floating-input input:focus + label{
    margin-top: -50px !important;
    color: #2A9AF2 !important;
    font-size: 12px !important;
    }
    
    input[type="button"]{
    background-color: rgb(8, 146, 252);
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    width: 100px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    padding: 10px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    input[type="button"]:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    
    .input-button{
    width: 100px;
    padding: 2%;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    }
    
    .ripple-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
    }
    
    .ripple{
    background-color: rgba(255,255,255,.6);
    position: absolute;
    z-index: 10;
    border-radius: 100%;
    animation-name: ripple;
    animation-iteration-count: 1;
    animation-duration: .55s;
    width: 10px;
    height: 10px;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    animation-timing-function: linear;
    }
    h6{
        color: rgb(240, 240, 12);
        text-align: center;
    }
    h6 a{
        color: #f4eff5
    }
   
    h6 a:hover {
        color: #ff0000;
    }
    
    @keyframes ripple {
        from   {width: 0; height: 0; opacity: 1;}
        to {width: 300px; height: 300px; opacity: 0;}
    }