


body {
background-image: url('https://t3.ftcdn.net/jpg/02/30/08/62/240_F_230086286_BBXSb5mEmLhcj0BzMPncygU1RrIjPHFQ.jpg');
height: auto;
width: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-color: grey;
padding: 20px;
text-align: center; 
h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    color: red;
    
    }
